main.container{
    margin-top: 15px;
}

.image-slider .swiper {
    width: 100%;
    height: 100%;
}

.image-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.image-slider.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.image-slider .swiper-slide {
    background-size: cover;
    background-position: center;
}

.product-image-slider-2 {
    height: 80%;
    width: 100%;
}

.product-image-slider {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.product-image-slider .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.product-image-slider .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Product info */

.product-info .product-gallery {
    width: 30%;
}

.product-info .shop-info {
    width: 40%;
    margin-right: 20px;
    margin-left: 20px;
}

.product-info .delivery {
    width: 30%;
}

h1.product-title {
    font-size: 16px;
    font-weight: normal;
}


.price .sale-price {
    color: #fa6338;
    font-size: 14px;
    font-weight: bold;
}

.price .regular-price {
    font-size: 11px;
    text-decoration: line-through;
    color: #ccc;
    padding: 0 5px;
}

.price .percentage {
    background: #000;
    color: white;
    padding: 2px;
    display: inline-block;
    font-size: 11px;
}


.paidvip__content {
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    display: -ms-flexbox;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    color: #873c00;
    font-weight: 700;
}

a.paidvip__content {
    margin-bottom: 10px;
    background-color: #fff0e8;
    background-image: url(./images/sui_img_Background_color-d22c842279.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1px;
    padding: 5px;
    margin-top: 10px;
}

.paidvip__info {
    display: flex;
    align-items: center;
}

.paidvip__info img {
    width: 100px;
}

.paidvip__line {
    width: 1px;
    height: 20px;
    background: #c9c9c973;
    display: block;
    margin: 0 7px;
}


.product-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.star-rating {
    display: flex;
    font-size: 13px;
    flex-direction: row-reverse;
}

.star-rating .star {
    margin-right: 3px;
    color: #ffc700;
}


.product-variable {
    margin-top: 20px;
}

.product-variable .var-item {
    margin-bottom: 10px;
}

.product-variable .var-item .variable-title {
    margin-bottom: 10px;
    font-size: 13px;
}


.product-variable .variations {
    display: flex;
}

.product-variable .var-item.image .variations img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: top;
}

.product-variable .var-item.image .variations  a {
    padding: 5px;
    overflow: hidden;
}

.product-variable .var-item.image .variations  img {
    opacity: 0.7;
}

.product-variable .var-item.image .variations img:hover {
    opacity: 1;
}

.product-variable  .var-item.image  .variations a.out-of-stock {
    position: relative;
    display: block;
}

.product-variable .var-item.image .variations a.out-of-stock::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    border-radius: 5px;
    background: red;
    display: block;
    z-index: 5;
    transform: rotate(45deg) translate(-4px);
}

.product-variable .var-item.image .variations  a.out-of-stock::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    border-radius: 5px;
    background: red;
    display: block;
    z-index: 5;
    transform: rotate(-45deg) translate(1px, -3px);
}


.var-item.list .varitions a {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 30px;
    min-width: 50px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #333;
    
}
.var-item.list .varitions a:hover{
    background: #e8e8e8;
}

.product-variable  .var-item.list  a.out-of-stock {
    position: relative;
    opacity: 0.5;
    pointer-events: none;
}


/*  Add to cart */

.add-to-cart {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 13px;
}

button {}

.add-to-cart button {
    background: black;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    padding: 3px 10px;
}

.quantity .input {
    margin: 0 5px;
}

.quantity .input input {
    text-align: center;
    width: 27px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.quantity .input input::-webkit-outer-spin-button,
      .quantity .input input::-webkit-inner-spin-button {
        display: none;
      }


      .delivery {
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #ccce;
        background: #fefefe;
        overflow-x: auto;
    }


    .delivery-box {
        margin-top: 10px;
    }
    
    .delivery-box .delivery-item {
        background: white;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 3px;
        background: #f6f6f6;
        color: #3b3b3b;
        font-size: 13px;
    }
    
    .delivery-title {
        font-size: 14px !important;
    }
    
    .delivery-title i {
        color: green;
    }


    .free-delivery {
        font-size: 11px;
        color: #c96e3f;
    
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .delivery-panel.active {
        display: block;
    }
    
    .delivery-panel {
        display: none;
    }

    .delivery-method .flex.align-center.justify-between {
        cursor: pointer;
    }


    .payment-back-content {
        max-height: 250px;
        overflow-y: auto;
        font-size: 14px;
        margin-top: 10px;
        padding: 5px;
        border-radius: 3px;
        background: #f6f6f6;
        color: #3b3b3b;
        font-size: 13px;
    }
    
    .payment-back-content::-webkit-scrollbar {
      width: 5px;
        border-radius: 15px;
    }
    
    /* Track */
    .payment-back-content::-webkit-scrollbar-track {
      background: #e9e9e9;
        border-radius: 15px;
    }
    
    /* Handle */
    .payment-back-content::-webkit-scrollbar-thumb {
      background: #888;
        border-radius: 15px;
    }
    
    /* Handle on hover */
    .payment-back-content::-webkit-scrollbar-thumb:hover {
      background: #555;
        border-radius: 15px;
    }

    .delivery-method.deliveries-way {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }


    @media screen and (max-width: 765px){
        .product-info {
            flex-direction: column;
        }
        
        .product-info .product-gallery {
            width: 100%;
        }
        
        .product-info .shop-info {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
        
        .product-info .delivery {
            width: 100%;
            margin-top: 20px;
        }
 
        
        .delivery-box.delivery-panel.active > .content {
            display: flex;
            overflow-x: auto;
        }
        
        .delivery-box.delivery-panel.active .delivery-item {
            min-width: 280px;
            max-width: 280px;
        }
        
        .delivery-box.delivery-panel.active .delivery-item:not(:first-child) {
            margin-right: 10px;
        }
    }


    .product-information {
        margin-top: 20px;
    }
    
    .product-information .title-box h3 {
        font-size: 14px;
        font-weight: 100 !important;
    }
    
    .product-information .description.product-box .title-box h3::after , .product-information .reviews.product-box .title-box h3::after{
        content: ":";
    }
    
    .description.product-box {}
    
    .product-information .product-box {
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }
    
    .description.product-box {}
    
    .description.product-box .content-box {
        background: white;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 3px;
        background: #f6f6f6;
        color: #3b3b3b;
        font-size: 13px;
        margin-top: 10px;
    }
    
    .description.product-box .content-box p {
        margin-bottom: 15px;
    }
    
    button.btn-loadmore {
        background: black;
        color: white;
        border-radius: 1px;
        border: none;
        padding: 5px 10px;
        font-size: 11px;
    }

    table.product-attributes-list {
        text-align: right;
        font-size: 14px;
        margin-top: 10px;
    }
    
    table.product-attributes-list th {
        min-width: 85px;
    }
    
    table.product-attributes-list th:after {
        content: ":";
    }

    .attributes.product-box .content-box{
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 3px;
        background: #f6f6f6;
        font-size: 13px;
        margin-top: 10px;
    }
   

    .reviews.product-box {
        display: flex;
    }
    
    .reviews.product-box .title-box {
        width: 25%;
        
    }
    
    .reviews.product-box .content-box {
        width: 75%;
        margin-right: 10px;
    }

    .reviews-content{
        display: none;
    }


    .reviews-info {
        font-size: 13px;
    }
    
    .reviews-info ul {
        list-style: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .reviews-info ul .fa-star {color: #fc3;}
    
    .reviews-info ul .total {
        padding-right: 10px;
        margin-left: 10px;
        display: inline-block;
        min-width: 55px;
        text-align: center;
    }
    
    .reviews-info ul .percent {
        color: white;
        background: black;
        display: inline-block;
        min-width: 25px;
        text-align: center;
        border-radius: 1px;
        font-size: 10px;
        padding: 2px 0 0 0;
        vertical-align: middle;
    }

    .reviews.product-box{
        font-size: 13px;
    }
    .reviews.product-box .content-box .review-meta {
        display: flex;
        justify-content: space-between;
    }
    
    .reviews.product-box .content-box .review-meta p.name {
        font-weight: bold;
    }
    
    .reviews.product-box .content-box .review-meta time {
        color: #777;
    }
    
    .reviews.product-box .content-box .review-meta .star i {
        color: #fc3;
    }
    
    .reviews.product-box .content-box .review-meta .star {
        font-weight: bold;
    }
    
    .reviews.product-box .content-box .comment-content {
        margin-bottom: 10px;
    }
    
    .reviews.product-box .content-box .images {
        display: flex;
    }
    
    .reviews.product-box .content-box .images img {
        width: 50px;
    }


    .reviews.product-box .content-box .review-meta {
        display: flex;
        justify-content: space-between;
    }
    
    .reviews.product-box .content-box .review-meta p.name {
        font-weight: bold;
    }
    
    .reviews.product-box .content-box .review-meta time {
        color: #777;
        display: block;
        direction: ltr;
    }
    
    .reviews.product-box .content-box .review-meta .star i {
        color: #fc3;
    }
    
    .reviews.product-box .content-box .review-meta .star {
        font-weight: bold;
    }
    
    .reviews.product-box .content-box .comment-content {
        margin-bottom: 10px;
    }
    
    .reviews.product-box .content-box .images {
        display: flex;
    }
    
    .reviews.product-box .content-box .images img {
        width: 50px;
    }
    
    .reviews.product-box .swiper-slide {
        background: #f6f6f6;
        padding: 6px;
        border-radius: 2px;
    }

    .review-option {
        display: flex;
    }
    
    .review-option a {
        display: block;
        flex: 1;
        text-decoration: none;
        text-align: center;
        background: black;
        color: white;
        padding: 5px 10px;
    }
    
    .review-option a.add-review {
        background: white;
        color: black;
        border: 2px solid black;
        margin-right: 10px;
    }


    @media screen and (max-width: 765px){
        .reviews.product-box {
            flex-direction: column;
        }
        
        .reviews.product-box .title-box {
            width: 100%;
            margin-bottom: 20px;
        }
        
        .reviews.product-box .content-box {
            width: 100%;
            margin-right: 0;
        }
    }